    <div class ="message__containers__side messagepage">
    <div class ="message__containers__side__title">
      Your Santa Groups
    </div>
      <div class ="message__containers__side__posts">
        <% current_user.groups.each do |group| %>
        <%= link_to group_messages_path(group) do %>
         <div class="message__containers__side__posts__post">
          <div class="message__containers__side__posts__post__title">
           <%= group.name %>
          </div>
          <div class="message__containers__side__posts__post__message">
            <span><%= group.show_last_message %></span>
          </div>
          <%= link_to "Show Group Details", group_path(group.id), class: 'message__containers__side__posts__post__link' %>
         </div>
         <% end %>
        <% end %>
      </div>
    </div>