// https://www.happyhues.co/palettes/11
$basebackground: #f9f4ef;
$basetext: #716040;
$dark:#020826;
$subbackground: #8c7851;
$subcard:#eaddcf;
$subtext:#fffffe;
$accent:#f25042;
$cardparagraph:#716040;

