<div class="containers">
    <div class="address__top">
      <div class="signup__top__main">
        <div class="signup__top__main__contents">
          <div class="header__contents__right">
            <div class="step1">Basic Info</div>
            <div class="step2">Address Info</div>
            <div class="step3 selected">Completed</div>
            <ol class="header__contents__right__stepbar">
                <li class="done">
                  <span></span>
                </li>
                <li class="done">
                  <span></span>
                </li>
                <li class="done">
                  <span></span>
                </li>
            </ol>
          </div>
          <div class="signup__top__main__contents__content">
            <h1>User Registration Completed!</h1>
            <div class="signup__top__main__contents__content__description"> 
            You have been successfully registered for<br><span> Secret Santas 365</span>
              <div class="signup__top__main__contents__content__description__link">
                <%= link_to posts_path do %>
                  Go to Home
                <% end %>
              </div>
            </div>
          </div>


      </div>
      </div>
    </div>
  </div>












 

