body{
  position: relative;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;

}
* {
  box-sizing: border-box;
}

.temporary{
  background-color: $subcard;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  &__content{
    margin: 0 auto;
    height: 40%;
    width: 70%;
    position: relative;
    h1{
      font-size: 100px;
    }
    p{
      font-size: 70px;
    }
    img{
      position: absolute;
      top: 0;
      right: 0px;
      width: 30%;
      
    }
  }

}

  /* open */
  .open {
    overflow: hidden;
    }
    .open #gloval-nav {
    visibility: visible;
    opacity: 1;
    }
    .open #gloval-nav li {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    transition: opacity .9s ease, -webkit-transform 1s ease;
    transition: transform 1s ease, opacity .9s ease;
    transition: transform 1s ease, opacity .9s ease, -webkit-transform 1s ease;
    }