.second{
  padding:50px 75px;
  background-color: $subcard;
  position: relative;
  h1{
    font-size: $fontLarge;
  }
  h2{
    font-size: $fontSmall;
  }
  .tag{

    height: 40px;
    display: flex;
    margin-top: 10px;
    ul{
      li{
        list-style: none;
      }
      .link{
        margin-right: 20px;
        text-decoration: none;
        color: $dark;
        background-color: $accent;
        border-radius: 5px;
        padding: 5px 10px;
        font-size: $fontSmallest;
          &:hover{
            color: $accent;
            background-color: $dark;
          }
        
      }
    }

  }
  .search{
    position: absolute;
    top: 100px;
    right: 150px;
    height: 50px;
    i{
      margin-right: -23px;
      color: $dark;
    }
    input{
      box-sizing: border-box;
      padding: 10px;
      transition: 0.3s;
      letter-spacing: 1px;
      color: $dark;
      border: none;
      border-bottom: 2px solid $dark;
      background: transparent;
      padding-left: 70px;
    }
    input:focus {
      border-bottom: 2px solid $accent;
      outline: none;
    }

  }
  .posts{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    // justify-content: space-bextween;
    .post {
      width:			30%;
      // height:			50%;
      overflow:		hidden;
      margin:			10px 8px 10px 16px;
      position:		relative;	/* 相対位置指定 */
      img{
         height:			100%;
        width: 100%;
        object-fit:cover;
  
      }
  
      .mask {
        width:			100%;
        height:			100%;
        position:		absolute;	/* 絶対位置指定 */
        top:			0;
        left:			0;
        opacity:		0;	/* マスクを表示しない */
        background-color:	rgba(0,0,0,0.7);	/* マスクは半透明 */
        transition:		all 0.2s ease;
      }
      .mask:hover  {
        opacity:		1;	/* マスクを表示する */
      }
  
      .inside {
        // padding-top:		80px;
        height: 25%;
        .account{
          position: absolute;
          top: 10px;
          left: 10px;
          img{
            width:40px;
            height:40px;
            object-fit:cover;
            border-radius:50%;
          }
        }
        .name{
          position: absolute;
          top: 20px;
          left: 60px;
          a{
            text-decoration: none;
            color: $subtext;
          }
        }
        .manage{
          position: absolute;
          top: 5px;
          right: 20px;
          font-size: $fontSmallest;
          &__lists{
            li{
              display: block;
              margin-top: 4px;
              a{
                text-decoration: none;
                color: $subtext;
                font-weight: bold;
              }
              a:hover{
                color:$accent ;                
              }
            }
          }
        }
        .caption{
          position: absolute;
          bottom: 0px;
          height: 30%;
          width: 100%;
          padding: 2px 20px;
          color: $basebackground;
          a{
            text-decoration: none;
            color: $accent;
            background-color: $subcard;
            border-radius: 5px;
            padding: 1px 3px;
            font-size: $fontSmallestMB;
            &:hover{
              color: $subcard;
              background-color: $accent;
            }
          }
          .category{
            a{
              margin-right: 5px;
            }
          }
          .comment{
            font-size: $fontSmallest;
          }
        }
  
      }
    }

  }

}


