<div class="wrap">
<div class="wrapper">
  <div class="wrapper__top">
    <div class="wrapper__top__side">
      <div class="wrapper__top__side__box">
        <div class="wrapper__top__side__box__icon">
          <i class="fas fa-gift"></i><br>
        </div>
        <div class="wrapper__top__side__box__name">
          <p>Secret</p>
          <p>Santa</p>
          <p>365</p>
        </div>
      </div>
    </div>
    <div class="wrapper__top__main">
      <div class="wrapper__top__main__contents">
        <h1>What is Secret Santa 366?</h1>
        <p>××××××××××××××××××××××××××××××××××××××××××××××××××××××<br>
        ××××××××××××××××××××××××××××××××××××××××××××××××××××××
      </div>
    </div>
  </div>
  <div class="wrapper__bottom">
      <div class="wrapper__bottom__signup">
        <%= link_to new_user_registration_path do %>
          <i class="fas fa-user-plus"></i> Signup
        <% end %>
      </div>
      <div class="wrapper__bottom__login">
        <%= link_to new_user_session_path do %>
          <i class="fas fa-sign-in-alt"></i>Login
        <% end %>
      </div>
  </div>

</div>
</div>
