@media screen and (max-width: 479px){ 
  //header↓
  header{
    height: 90px;
    
    .logo{
      width: 12%;
      height: 90%;
      margin-left: 3%;
      a{
        font-size: $fontSmall;
        p{
          height: 25px;
        }
      }
    }
    .startButton{
      width: 23%;
      margin-right: 3%;
      a{
        font-size: $fontSmallestMB;

        
      }
    }
  }
// header↑


// footer↓
footer{
  height: 200px;
  padding-bottom: 40px;
  .footer__conteiner{
    width: 90%;
    .logo{
      a{
        font-size: $fontLarge;
        p{
          height: 33px;
        }
      }
    }

    .list{
      ul{
        display: block;
        li{
          margin-right: 0px;
        }
      }
    }
  }
}
// footer↑

  






// top#index
#overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.7);
  display: none;
  z-index: 3;

}


#modalWindow {
// モーダルウィンドウの画面を設定(高さ・幅は調整ください)
  width: 500px;
  height: 400px;
  position: absolute;
//トップからの場所を指定（topをいじれば高さが調整できます）
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 2;
//flexboxで子要素のボタンとメッセージボックスの要素を配置する
  display: flex;
  flex-wrap: wrap;
  // justify-content: center;

  .modal-message-box {
    width: 100%;
//下記heightの60pxはボタンの高さで、それを画面の大きさから引いています。
    height: calc(100% - 60px);
    text-align: center;
//flexboxで文字の配置を決める（縦方向、中央揃え）
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    p{
      font-size: 30px;
      font-weight: bold;
      margin-top: -100px;
    }
    img{
      width: 30%;
      margin: 0 auto;
    }
  }

  #modal-close-btn {
    width: 30%;
    height: 60px;
    position: absolute;
    bottom: 10%;
    left: 15%;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    font-size: 1.2em;
    font-weight: bold;
    color: #494c4e;
    &:hover{
      opacity: 0.8; 
    }
  }

  #delete-comformation-btn {
    width: 30%;
    height: 60px;
    background-color: rgb(234, 53, 45);
    cursor: pointer;
    position: absolute;
    bottom: 10%;
    right: 15%;
    border-radius: 10px;
    border: none;
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    &:hover{
      opacity: 0.8; 
    }
  }
}

.item-delete-btn {
//削除ボタンの非表示
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;
}

















.container{
  width: 90%;
}
.topFirst{
  padding-top: 90px;
  .container{
    display: block;
  }
  .giftPic{
    width: 100%;
    img{
      width: 100%;
      height: 100px;
      object-fit: cover;
    }
  }
  .definition{
    width: 100%;
    h1{
      font-size: $fontSmall;
    }
    p{
      padding-top: 20px;
      font-size: $fontSmallest;
    }
  }
}

.topSecond{
  width: 100%;
  height: 600px;
  padding-bottom: 300px;
  background-color: $subbackground;

  .title{
    height: 10%;
    width: 90%;
    padding-top: 30px;
    font-size: 20px;
    margin-bottom: 10px;
  }

    .tab-container {
      margin-top: 48px;
      .arrows { 
        display: none;

    
  
    
      }

      .tab-content-container { 

        padding: 10px 10px;
        position: absolute;
        top: 52px;
        .tab-content {
          display: flex;
          align-items: center;
      
          .image{
            width: 30%;
            padding: 3%;
            img{
              width: 100%;
            }  

          }
          .description{
            padding: 8% 0;

            width: 70%;
            h1{
              font-size: $fontSmall;
            }
            p{
              padding-top: 20px;
              font-size: $fontSmallestMB;
              
            }
          }

        }
      }
      .tab {

        line-height: 13px;

        font-size: $fontSmallest;
      }
      .tab-toggle {
        display: none;
        &.active + .tab,
        &:checked + .tab { 
          font-weight: bold;
          span{
            border-bottom: 2px $accent solid;
            color: $basebackground;
          }
        }
        &.active ~ .tab-content-container,
        &:checked ~ .tab-content-container { 
          height: 250px;
          opacity: 1;
          .tab-content { 
            opacity: 1; 
            label { 
              opacity: 1; 
            }
          }
        }
      }
    }

  
}








}