
@media screen and (max-width:599px){
  //header↓
  header{
  .search{
    position: absolute;
    top: 25%;
    right: 18%;
    i{
      margin-right: -23px;
      color: $basetext;
    }
    
    input{
      width: 85%;
      padding: 10px 10px 10px 40px;
    }
  
  
  }


  #nav-toggle {

    img{
      width:60px;
      height:60px;

    }
  
  }


}

}