
@media screen and (max-width:599px){
  //header↓
  header{
  .search{
    position: absolute;
    top: 25%;
    right: 18%;
    i{
      margin-right: -23px;
      color: $basetext;
    }
    
    input{
      width: 85%;
      padding: 10px 10px 10px 40px;
    }
  
  
  }


  #nav-toggle {

    img{
      width:60px;
      height:60px;

    }
  
  }


}


//group#new,edit
.chat-group-form__field{
  width: 90%;
}
.groupsnew__containers{
  &__container{
    &__title{
      height: 60px;
      line-height: 60px;
      padding-left: 20px;
      padding: 2px;
      &__content{
        height: 55px;
        padding-left: 20px;
        line-height: 55px;
      }
    }
  &__form{
    &__error{
    }
    &__item{
    margin: 30px auto;
    width: 90%;
    }
    

  }
  }

}




  // group#index
  .group__containers{
    padding:20px 0;
    &__side{
      width: 90%;
      &__title{
        font-size: $fontSmall;
        height: 40px;
        line-height: 40px;
      }
      &__posts{

        &__post{

          &__title{
            font-size: $fontSmall;
            color: $dark;
          }
          &__message{
            span{
              font-size: $fontSmallestMB;
              color: black;
            }
          }
          &__link{
            background: rgba(139, 132, 130,0.3);
          
            padding: 5px 10px;
            font-size: $fontSmallestMB;
            display: block;
            position: absolute;
            bottom: 20px;
            right: 10px;
            color:$subcard;
          }   
          &__link:hover{
            background: rgba(139, 132, 130,0.6);
          }
        }         
        &__post:hover{
          background-color: $basebackground;
        }
      }
    }
  }









}