@media screen and ( max-width:959px){
header{
  height: 90px;
  .logo{
    width: 12%;
    height: 90%;
    margin-left: 3%;
    a{
      font-size: $fontSmall;
      p{
        height: 25px;
      }
    }
  }
  .startButton{
    width: 23%;
    margin-right: 3%;
    a{
      font-size: $fontSmallestMB;
    }
  }
  #nav-toggle {
    position: absolute;
    right: 0%;
    img{
      width:60px;
      height:60px;
    }
  }
}

footer{
  height: 200px;
  padding-bottom: 40px;
  .footer__conteiner{
    width: 90%;
    .logo{
      a{
        font-size: $fontLarge;
        p{
          height: 33px;
        }
      }
    }
    .list{
      ul{
        display: block;
        li{
          margin-right: 0px;
        }
      }
    }
  }
}

  






// top#index
#overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.7);
  display: none;
  z-index: 3;

}

.container{
  width: 90%;
}
.topFirst{
  height: 600px;
  padding-top: 40px;
  .container{
    display: block;
  }
  .giftPic{
    width: 100%;
    img{
      width: 100%;
      height: 100px;
      object-fit: cover;
    }
  }
  .definition{
    width: 100%;
    h1{
      font-size: $fontSmall;
    }
    p{
      padding-top: 20px;
      font-size: $fontSmallest;
    }
  }
}

.topSecond{
  width: 100%;
  height: 600px;
  padding-bottom: 300px;

  .title{
    height: 10%;
    width: 90%;
    padding-top: 30px;
    font-size: 20px;
    margin-bottom: 10px;
  }

    .tab-container {
      margin-top: 48px;
      .arrows { 
        display: none;

    
  
    
      }

      .tab-content-container { 

        padding: 10px 10px;
        position: absolute;
        top: 52px;
        .tab-content {
          display: flex;
          align-items: center;
      
          .image{
            width: 30%;
            padding: 3%;
            img{
              width: 100%;
            }  

          }
          .description{
            padding: 8% 0;
            height:100%;
            width: 70%;
            h1{
              font-size: $fontSmall;
            }
            p{
              padding-top: 20px;
              font-size: $fontSmallestMB;
              
            }
          }

        }
      }
      .tab {

        line-height: 13px;

        font-size: $fontSmallest;
      }
      .tab-toggle {
        display: none;
        &.active + .tab,
        &:checked + .tab { 
          font-weight: bold;
          span{
            border-bottom: 2px $accent solid;
            color: $basebackground;
          }
        }
        &.active ~ .tab-content-container,
        &:checked ~ .tab-content-container { 
          height: 250px;
          opacity: 1;
          .tab-content { 
            opacity: 1; 
            label { 
              opacity: 1; 
            }
          }
        }
      }
    }

  
}







#nav-toggle {
  img{
    margin-right: 10px;
  }

}




// post#index
.containers{

  padding-bottom:200px;
}

.createButton{
  font-size: $fontLarge;
  background-color: $accent;
  color: $dark;
  padding: 2px 7px;
  border-radius: 10px;
  display: block;
  position: absolute;
  top: 20px;
  right: 60px;
  font-size: $fontSmall;
  text-decoration: none;
  &:hover{
    background-color: $dark;
    color: $accent;

  }
}


.first{
  height: 100vh;

  padding:50px 50px;
  .content{
    display: block;
    a{
      text-decoration: none;
      width: 100%;
      display: block;
      height: 20%;
      margin-bottom: 20px;
      .group{
        height: 100%;
        margin-bottom: 60px;
        &__name{
          font-size: $fontMedium;
        }
        &__date{
          font-size: $fontSmallest;
        }
      }
    }
  }
}

// group#new, edit

// group#show
// #button{
//   width: 200px;
//   height: 100px;
//   background-color: $basetext;
//   text-align: center;
//   line-height: 100px;
//   color: $basetext;
//   font-weight: bold;
//   font-size: $fontLarge;
//   cursor: pointer;
//   margin-top: 23px;
// }

// #button:hover{
//   opacity: 0.9;
// }

// #button:active{
//   box-shadow: 0 5px 0 $dark;
//   margin-top: 35px;
// }
.Groupshow__containers{
  padding: 20px;
  min-height: 1200px;
  &__container{
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    &__top{
      // height: 15%;
      h1{
        font-size: $fontLarge;
      }
    }
    &__bottom{
      width: 100%;
      height: 100%;
      margin-top: 0px;
      &__name{
        background-color: $basetext;
        width: 100%;
        height: 10%;
        padding-left: 2%;
        position: relative;
        display: flex;
        align-items: center;

        h1{
          font-size: $fontMedium;
          text-align: left;
          color: $basebackground;
        }
        .button{
          border: 1px dashed $subcard;
          padding: 5px;
          position: absolute;
          top: 50%;
          right: 20px;
          text-decoration: none;
          color: $subcard;
          cursor: pointer;
          width: 80px;

          &:hover{
            background-color: $accent;
            color: $dark;


          }
        }
      
        .edit{
          position: absolute;
          top: 10%;
          width: 80px;
        

        }
      }
      &__content{
        .box{
          display: block;
          padding: 2% 4%;
          &__name{
            margin-left: 0;
            width: 100%;
            a{
              font-size: $fontSmallest;
              padding: 5px 10px;
              display: block;
              width: 100%;
              background-color: $dark;
              text-decoration: none;
              color: $accent;
              background-color: $dark;
              i{
                margin-right: 5px;
              }
            }
            a:hover{
              color: $dark;
              background-color: $accent;

            }
           h2{
              font-size: $fontSmall;
              text-align: left;
            }
          }
          &__details{
            padding: 20px 10px;
            width: 100%;

            border-bottom: 1px dashed $dark;
           a{
              text-decoration: none;
              display: flex;
              img{
                width: 8%;
                border-radius: 50%;
                margin-right: 20px;
                margin-bottom: 10px;

              }

            }
            p{
              font-size: $fontSmall;
              text-align: left;
              color: $basetext;
            }

           #button{
            margin: 30px auto;
            width: 100%;
            height: 100px;
            background-color: $dark;
            text-align: center;
            line-height: 100px;
            color: $accent;
            font-weight: bold;
            font-size: $fontLarge;
            cursor: pointer;
          }
          
          #button:hover{
            opacity: 0.9;
          }
          
          #button:active{
            box-shadow: 0 5px 0 $dark;
            margin-top: 35px;
          }
          #interests{
            h1{
              font-size: $fontSmall;
            }
          }
          }
          .none{
            border-bottom: none;
          }
          
        }

        
      }

      
    }
  }
}

// user#show
.usershow__containers{
  &__container{
    width: 90%;
    &__top{
      &__left{
        margin-left: 20px;
        img{
          width:80px;
          height:80px;
        }
      }
      &__right{
        padding-left: 20px;
        font-size: $fontSmall;
        &__name{
        }
        &__edit{
          width: 50px;
          height: 20px;
          font-size: $fontSmallestMB;
          line-height: 20px;
          position: absolute;
          top: 15px;
          right: 20px;
        }
        &__delete{
          width: 50px;
          height: 20px;
          font-size: $fontSmallestMB;
          line-height: 20px;
          position: absolute;
          top: 45px;
          right: 20px;
        }
        &__logout{
          width: 50px;
          height: 20px;
          font-size: $fontSmallestMB;
          line-height: 20px;
          position: absolute;
          top: 75px;
          right: 20px;
        }



        &__address{
          font-size: 16px;
          margin-top: 10px;
          color: white;
        }

      }
    }
    }
}
  .stats{

    a {
      padding: 0 5px;
      font-size: $fontSmallestMB;
      transition: .2s;
    }

  }




  // post#index
  .second{
    padding:10px 20px;
    .posts{
      display: block;
      
      .post {
        width:			100%;
        margin: 20px auto;
        // height:			50%;
        overflow:		hidden;
        position:		relative;	/* 相対位置指定 */
        img{
           height:			100%;
          width: 100%;
          object-fit:cover;
    
        }
  
    
      }
  
    }
  
  }
}