@media screen and (max-width: 559px){
  .alert{
    text-align: center;
  } 
  .posts__containers{
    background-color: #ca9a8f;
    margin-top: 120px;
    padding:40px 0;
    min-height: 100vh;
    &__container{
      width: 95%;
      margin: 0 auto;
      // display: flex;
      justify-content: space-between;
      &__left{
        padding: 5px 0px;
        margin-bottom: 30px;
        position: relative;
        // width: 40%;
        background-color: #0d5769;
        border-radius: 10px;
        min-height: 100vh;
  
        &__title{
          font-size: 40px;
          font-weight: bold;
          color: #ca9a8f;
          text-align: center;
          // margin-top: 20px;
          h1{
            padding-top: 50px;

            font-size: 26px;
          }
          span{
            color: #8b8482;
  
          }
  
        }
        &__timeline {

          list-style: none;
          margin: 35px 40px;
          padding-left: 48px;
          /* width: 68%; */
          border-left: 8px solid #ca9a8f;
          counter-reset: my-counter;
          li {
            // margin: 40px 0;
            position: relative;
  
          }
          li:before {
            content: counter(my-counter);
            counter-increment: my-counter;
            background-color: #ca9a8f;
            color: #0d5769;
            font-weight: bold;
            display: block;
            line-height: 30px;
            text-align: center;
            height: 30px;
            width: 30px;
            left: -67px;
            border-radius: 50%;
            margin-top: -10px;
            position: absolute; 
            top: 50%;
          }
          li:not(:first-child){
            margin: 60px 0;
          }
          
          &__title{
            // width: 300px;
            font-size: 20px;
            font-weight: bold;
            border-bottom: solid 1.5px #ca9a8f;
            padding-bottom: 5px;
            padding-top: 20px;
            color: #ca9a8f;
          }
          &__description{
            color: #ca9a8f;
            padding-top: 5px;
            font-size: 15px;
          }
        }
        a{
          text-decoration: none;
          display: flex;
          background-color: #ca9a8f;
          width: 150px;
          height: 40px;
  
        }
        &__description{
          float: right;
          box-shadow: 0 2px 4px rgba(0,0,0,0.3);
          margin-top: 20px;
          
          &__icon{
            line-height: 40px;
            i{
              font-size: 20px;
              margin-left: 20px;
              color: #0d5769;
            }
          }
          &__word{
            margin-left: 17px;
            margin-top: 3px;
  
            h1{
              font-size: 13px;
              font-weight: bold;
              color: #0d5769;
            } 
          }
  
        }
        &__description:hover{
          position: relative;
          top: 1px;
          left: 1px;   
          box-shadow: 0 0 2px rgba(0,0,0,0.2);
                 
        }
      }
      &__right{
        // width: 55%;
        background-color: #8b8482;
        border-radius: 10px;
        min-height: 100vh;
        position: relative;
        padding: 40px 20px;

        &__title{
          text-align: center;
          font-size: 18px;
          span{
            font-weight: bold;
            font-size: 20px;
  
          }
          &__condition{
            float: right;
            display: inline;
            position: absolute;
            top:160px;
            right: 120px;
            a{
              text-decoration: none;
              color:#ca9a8f ;
            }
          }
        }
        &__top{
          height: 15%;
          h1{
            text-align: center;
            font-size: 18px;
            color: #ca9a8f;
            span{
              font-weight: bold;
              color: #0d5769;
              font-size: 20px;
            }
          }
            &__tag{
              height: 40%;
              text-align: center;
              border-radius: 10px;
              width: 90%;
              font-weight: bold;
              margin: 0 auto;
              h1{
                font-weight: bold;
                color: #0d5769;
              }
              li{
                display: inline-block;
                margin-right: 9px;
                margin-top: 10px;
              }
            }
            &__search{
              height: 60%;
            }
          
        }
        &__condition{
          float: right;
          display: inline;
          position: absolute;
          top:160px;
          right: 120px;
          a{
            text-decoration: none;
            color:#ca9a8f ;
          }
        }
        
      .fa-search{
        position: absolute;
        top: 109px;
        left: 59px;
        font-size: 26px;
        color: #0d5769;
      }
            
  
      input[type='text']{
        // margin-left: 70px;
        margin-top: 10px;
        box-sizing: border-box;
        width: 100%;
        padding: 10px;
        transition: 0.3s;
        letter-spacing: 1px;
        color: #ca9a8f;
        border: none;
        border-bottom: 2px solid #0d5769;
        background: transparent;
        padding-left: 70px;
        margin-bottom: 30px;
      }
      input[type='text']:focus {
        border-bottom: 2px solid #ca9a8f;
        outline: none;
      }
        &__posts{
          // width: 80%;
          margin: 20px auto;
          overflow: scroll;
          height: 100vh;
          &__nothing{
            text-align: center;
            font-size: 25px;
            font-weight: bold;
            margin-top: 200px;
            .fa-camera-retro{
              text-align: center;
              font-size: 40px;
            }
          }
          &__title{
          font-size: 30px;
          text-align: center;
          font-weight: bold;
   
          }
          // height: 100vh;
          &__post{
            width: 100%;
            // height: 500px;
            margin: 30px auto;
            &__top{
              height: 15%;
              width: 100%;
              background-color: #0d5769;
              display: flex;
              position: relative;
              &__manage{
                position: absolute;
                top: 13px;
                right: 30px;
                &__lists{
                  
                  li{
                    display: block;
                    margin-top: 4px;
                    a{
                      text-decoration: none;
                      color: #eaa696;
                      font-weight: bold;
                    }
                    a:hover{
                      position: relative;
                      top: 1px;
                      left: 1px;                  
                    }
                  }
                }
              }
              &__account{
                  margin-left: 30px;
                  display: flex;
                  align-items: center;
                  img{
                    width:60px;
                    height:60px;
                    object-fit:cover;
                    border-radius:50%;
                  }
                
              }
              &__name{
                margin-left: 30px;
  
                a{
                  display: block;
                  font-size: 30px;
                  color:#eaa696 ;
                  font-weight: bold;
                  margin: 17px 0;
                  text-decoration: none;
                }
              }
            }
  
            &__bottom{
              // width: 100%;
              // height: 85%;
              background-color: #eaa696;
              text-align: center;
              padding: 10px;
              
              img{
                margin-top: 20px;
                margin-bottom: 5px;
                height: 70%;
                max-width: 100%;

              }
  
              &__caption{
                border: 1px dashed #0d5769; 
  
                width: 95%;
                margin: 0 auto;
                height: 90px;
                &__top{
                  display: flex;
                  justify-content: space-between;
                  &__category{
                    height: 40%;
                    text-align: left;
                    padding: 5px 20px;
    
                    // li{
                    //   background-color: #0d5769;
                    //   padding: 0.35em 0.7em;
                    //   border-radius: 10rem;
                    //   display: inline-block;
                    //   font-size:10px;
                    //   margin-right:10px;
  
                    // }
                    // li:hover {
                    //   position: relative;
                    //   top: 1px;
                    //   left: 1px;
                    // }
                    &__link{
                      font-weight: bold;
                      text-decoration: none;
                      color: #eaa696;
                      background-color: #0d5769;
                      padding: 0.35em 0.7em;
                      border-radius: 10rem;
                      display: inline-block;
                      font-size: 7px;
                    }
                     &__link:hover {
                      position: relative;
                      top: 1px;
                      left: 1px;
                    }
                    &__small{
                      font-weight: bold;
                      text-decoration: none;
                      color: #eaa696;
                      background-color: #0d5769;
                      padding: 1px 4px;
                      border-radius: 10rem;
                      display: inline-block;
                      font-size: 10px;
                      margin-left: 6px;
                    }
                     &__small:hover {
                      position: relative;
                      top: 1px;
                      left: 1px;
                    }
                  }
                  &__giver{
                    margin-top: 5px;
                    padding: 5px 20px;
                    font-size: 10px;
                    a{
                      color: #494c4e;
                    }
                  }
  
                }
  
  
                &__comment{
                  padding: 5px 20px;
                  font-size: 12px;
                  height: 60%;
                  text-align: left;
                }
              }
            }
          }
        }
      }
  
      }
    }
    .postsnew__containers{
      background-color: #ca9a8f;
      margin-top: 120px;
      padding: 20px 10px;
      &__container{
      &__title{
        color: #0d5769;
        height: 100px;
        line-height: 100px;
        padding-left: 20px;
        font-size: 20px;
        background-color: #eaa696;
        padding: 5px;
        font-weight: bold;
        &__content{
          // background-color: #0d5769;
          border: 1px dashed #0d5769;
          border-radius: 5px;
          height: 90px;
          padding-left: 20px;
          line-height: 95px;
        }
      }
      &__form{
        background-color: #0d5769;
    
        width: 100%;
        // background-color: #6b787c;
        padding: 20px 0;
    
        &__item{
        margin: 0 auto;
        width: 60%;
        font-weight: bold;
        color: #ca9a8f;
        }
        &__title{
          display: block;
          width: 60%;
          height: 40px;
          margin: 20px auto;
    
        }
        &__images{
          // display: flex;
          margin: auto;
          width: 60%;
          margin-top: 60px;
          &__image{
            display: block;
            height: 40px;
            // margin: 80px auto;
            &__img{
              width: 200px;
              background-color: #eaa696;
              color: #0d5769;
              font-weight: bold;
              padding: 10px;
              text-decoration: none;
              box-shadow: 0 2px 4px rgba(0,0,0,0.3);
              border-radius: 10px;
              margin: 0px auto;

            }
            &__img:hover {
              position: relative;
              top: 1px;
              left: 1px;
              box-shadow: 0 0 2px rgba(0,0,0,0.2);
           }
            &__file{
              display: none;
    
            }
          }
          &__show{
            // width: 500px;
            height: 200px;
            display: flex;
            align-items: center;
            #img_prev{
              width: 200px;
              height: auto;
              margin: 0 auto;
            }
          }
        }
        &__description{
          display: block;
          width: 60%;
          height: 80px;
          margin: 20px auto;
        }
        &__content{
          display: block;
          width: 60%;
          height: 300px;
          margin: 20px auto;
        }
        &__category{
          display: block;
          width: 60%;
          height: 40px;
          margin: 20px auto;
          padding-top: 20px;
        }
        input[type="checkbox"] { 
          display: none; 
    
        }
    
        input[type="checkbox"] + label {
          display: inline-block;
          position: relative;
          padding-left: 30px;
          margin-bottom: 20px;
          margin-right: 41px;
          color: black;
          cursor: pointer;
        }
    
        input[type="checkbox"] + label:before {
          content: '';
          display: block;
          width: 20px;
          height: 20px;
          border: 1px solid #545454;
          position: absolute;
          left: 0;
          top: 0;
          transition: all .12s, border-color .08s;
        }
    
        input[type="checkbox"]:checked + label:before {
          width: 10px;
          top: -5px;
          left: 5px;
          border-top-color: transparent;
          border-left-color: transparent;
          transform: rotate(45deg);
        }
        &__btn{
          background-color: #0d5769;
          border: double 4px #eaa696;
          padding: 5px 30px;
          margin: 10px 0;
          color: #eaa696;
          width: 40%;
          margin: 20px auto;
          display: block;
          text-decoration: none;
          text-align: center;
        }
        &__btn:hover {
          position: relative;
          top: 1px;
          left: 1px;
          box-shadow: 0 0 2px rgba(0,0,0,0.2);
       }
       &__back{
        display: block;
        width: 60%;
        height: 40px;
        margin: 20px auto;
    
        // margin-right: 20px;
        background-color: beige;
        color: black;
        padding: 10px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.3);
        border-radius: 10px;
        border: none;
        text-decoration: none;
        text-align: center;
      }
      &__back:hover {
        position: relative;
        top: 1px;
        left: 1px;
        box-shadow: 0 0 2px rgba(0,0,0,0.2);
    
     }
      }
      }
    
    }
    .chat-post-form {
      width: 980px;
      margin: 60px auto;
      padding: 40px;
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 5px;
      box-sizing: border-box;
    
      &__errors {
        margin: 30px 0;
        padding: 20px 40px;
        border: 1px solid #ddd;
        border-radius: 2px;
        text-align: center;
      }
      &__label {
        display: block;
        line-height: 50px;
        font-weight: bold;
        text-align: right;
        color: #ca9a8f;
      }
      &__input {
        float: left;
        width: 100%;
        line-height: 30px;
        padding: 10px 15px;
        box-sizing: border-box;
      }
      &__action-btn {
        display: inline-block;
        padding: 12px 20px;
        color: #fff;
        background-color: #38aef0;
        border: 0;
      }
      &__field {
        margin-top: 30px;
        &:after {
          content: "";
          clear: both;
          display: block;
        }
        &--left {
          float: left;
          width: 30%;
          padding-right: 20px;
          padding-left: 20px;
          box-sizing: border-box;
        }
        &--right {
          float: right;
          width: 70%;
        }
      }
    }
    
    .chat-post-form__field{
      margin: 40px 0px;
      width: 80%;
      input[type='text']{
        box-sizing: border-box;
        width: 100%;
        padding: 10px;
        transition: 0.3s;
        letter-spacing: 1px;
        color: #aaaaaa;
        border: none;
        border-bottom: 2px solid #8b8482;
        background: transparent;
      }
      input[type='text']:focus {
        border-bottom: 2px solid #eaa696;
        outline: none;
      }
    }
    // .chat-post-form__field--right{
    //   height: 40px;
    // }
    .chat-post-category {
      padding: 0 15px;
      line-height: 50px;
      font-size: 14px;
    
      color: #ca9a8f;
    
      // border-bottom: 1px solid #ddd;
      &:after {
        content: "";
        clear: both;
        display: block;
      }
      &__name {
        float: left;
      }
      &__btn {
        float: right;
        display: inline-block;
        cursor: pointer;
        &--add {
          color: #38aef0;
        }
        &--remove {
          color: #f05050;
        }
      }
    }
  
    .sns__containers{
      background-color: #ca9a8f;
      margin-top: 120px;
      padding:20px;
      min-height: 100vh;
      &__container{
        // width: 60%;
        height: 600px;
        margin: 0 auto;
        &__top{
          background-color: #0d5769;
          height: 15%;
          h1{
            font-size: 35px;
            font-weight: bold;
            text-align: center;
            line-height: 90px;
            color: #eaa696;
            letter-spacing: 3px;
          }
        }
        &__bottom{
          // height: 70%;s
          padding: 20px;
          background-color: #eaa696;
          a{
            text-decoration: none;
  
          }
          &__option{
            margin: 20px auto;
            border-radius: 4px;
            width: 90%;
            line-height: 60px;
            font-size: 16px;
            text-align: center;
            position: relative;
            margin-bottom: 40px;
            background-color: floralwhite;
            i{
              font-size: 20px;
              position: absolute;
              left: 15px;
              top: 21px;
            }
            span{
              font-weight: bold;
              font-size: 18px;
  
            }
          }
          .secretsanta{
            background-color: #0d5769;
            color:#eaa696 ;
          }
          .twitter{
            background-color: #008DDE;
            color:white ;
          }
          .facebook{
            background-color: #354F84;
            color:white ;
          }
        }
      }
    }
}
@media screen and (min-width: 560px) and ( max-width:959px){
  .alert{
    text-align: center;
  }
  .posts__containers{
    background-color: #ca9a8f;
    margin-top: 120px;
    padding:40px 0;
    min-height: 100vh;
    &__container{
      width: 95%;
      margin: 0 auto;
      // display: flex;
      justify-content: space-between;
      &__left{
        padding: 5px 0px;
        margin-bottom: 30px;
        position: relative;
        // width: 40%;
        background-color: #0d5769;
        border-radius: 10px;
        min-height: 100vh;
  
        &__title{
          font-size: 40px;
          font-weight: bold;
          color: #ca9a8f;
          text-align: center;
          // margin-top: 20px;
          h1{
            padding-top: 50px;

            font-size: 26px;
          }
          span{
            color: #8b8482;
  
          }
  
        }
        &__timeline {

          list-style: none;
          margin: 35px 40px;
          padding-left: 48px;
          /* width: 68%; */
          border-left: 8px solid #ca9a8f;
          counter-reset: my-counter;
          li {
            // margin: 40px 0;
            position: relative;
  
          }
          li:before {
            content: counter(my-counter);
            counter-increment: my-counter;
            background-color: #ca9a8f;
            color: #0d5769;
            font-weight: bold;
            display: block;
            line-height: 30px;
            text-align: center;
            height: 30px;
            width: 30px;
            left: -67px;
            border-radius: 50%;
            margin-top: -10px;
            position: absolute; 
            top: 50%;
          }
          li:not(:first-child){
            margin: 60px 0;
          }
          
          &__title{
            // width: 300px;
            font-size: 20px;
            font-weight: bold;
            border-bottom: solid 1.5px #ca9a8f;
            padding-bottom: 5px;
            padding-top: 20px;
            color: #ca9a8f;
          }
          &__description{
            color: #ca9a8f;
            padding-top: 5px;
            font-size: 15px;
          }
        }
        a{
          text-decoration: none;
          display: flex;
          background-color: #ca9a8f;
          width: 150px;
          height: 40px;
  
        }
        &__description{
          float: right;
          box-shadow: 0 2px 4px rgba(0,0,0,0.3);
          margin-top: 20px;
          
          &__icon{
            line-height: 40px;
            i{
              font-size: 20px;
              margin-left: 20px;
              color: #0d5769;
            }
          }
          &__word{
            margin-left: 17px;
            margin-top: 3px;
  
            h1{
              font-size: 13px;
              font-weight: bold;
              color: #0d5769;
            } 
          }
  
        }
        &__description:hover{
          position: relative;
          top: 1px;
          left: 1px;   
          box-shadow: 0 0 2px rgba(0,0,0,0.2);
                 
        }
      }
      &__right{
        // width: 55%;
        background-color: #8b8482;
        border-radius: 10px;
        min-height: 100vh;
        position: relative;
        &__title{
          text-align: center;
          font-size: 18px;
          span{
            font-weight: bold;
            font-size: 20px;
  
          }
          &__condition{
            float: right;
            display: inline;
            position: absolute;
            top:160px;
            right: 120px;
            a{
              text-decoration: none;
              color:#ca9a8f ;
            }
          }
        }
        &__top{
          height: 15%;
          h1{
            text-align: center;
            font-size: 18px;
            color: #ca9a8f;
            span{
              font-weight: bold;
              color: #0d5769;
              font-size: 20px;
            }
          }
            &__tag{
              height: 40%;
              text-align: center;
              border-radius: 10px;
              width: 90%;
              font-weight: bold;
              margin: 0 auto;
              h1{
                font-weight: bold;
                color: #0d5769;
              }
              li{
                display: inline-block;
                margin-right: 9px;
                margin-top: 10px;
              }
            }
            &__search{
              height: 60%;
            }
          
        }
        &__condition{
          float: right;
          display: inline;
          position: absolute;
          top:160px;
          right: 120px;
          a{
            text-decoration: none;
            color:#ca9a8f ;
          }
        }
        
      .fa-search{
        position: absolute;
        top: 115px;
        left: 120px;
        font-size: 26px;
        color: #0d5769;
      }
            
  
      input[type='text']{
        margin-left: 70px;
        margin-top: 10px;
        box-sizing: border-box;
        width: 80%;
        padding: 10px;
        transition: 0.3s;
        letter-spacing: 1px;
        color: #ca9a8f;
        border: none;
        border-bottom: 2px solid #0d5769;
        background: transparent;
        padding-left: 70px;
        margin-bottom: 30px;
      }
      input[type='text']:focus {
        border-bottom: 2px solid #ca9a8f;
        outline: none;
      }
        padding: 40px;
        &__posts{
          // width: 80%;
          margin: 20px auto;
          overflow: scroll;
          height: 100vh;
          &__nothing{
            text-align: center;
            font-size: 25px;
            font-weight: bold;
            margin-top: 200px;
            .fa-camera-retro{
              text-align: center;
              font-size: 40px;
            }
          }
          &__title{
          font-size: 30px;
          text-align: center;
          font-weight: bold;
   
          }
          // height: 100vh;
          &__post{
            width: 100%;
            height: 500px;
            margin: 30px auto;
            &__top{
              height: 15%;
              width: 100%;
              background-color: #0d5769;
              display: flex;
              position: relative;
              &__manage{
                position: absolute;
                top: 13px;
                right: 30px;
                &__lists{
                  
                  li{
                    display: block;
                    margin-top: 4px;
                    a{
                      text-decoration: none;
                      color: #eaa696;
                      font-weight: bold;
                    }
                    a:hover{
                      position: relative;
                      top: 1px;
                      left: 1px;                  
                    }
                  }
                }
              }
              &__account{
                  margin-left: 30px;
                  display: flex;
                  align-items: center;
                  img{
                    width:60px;
                    height:60px;
                    object-fit:cover;
                    border-radius:50%;
                  }
                
              }
              &__name{
                margin-left: 30px;
  
                a{
                  display: block;
                  font-size: 30px;
                  color:#eaa696 ;
                  font-weight: bold;
                  margin: 17px 0;
                  text-decoration: none;
                }
              }
            }
  
            &__bottom{
              width: 100%;
              height: 85%;
              background-color: #eaa696;
              text-align: center;
              padding-right: 30px;
              padding-left: 30px;
              img{
                margin-top: 20px;
                margin-bottom: 5px;
                height: 70%;
                max-width: 100%;

              }
  
              &__caption{
                border: 1px dashed #0d5769; 
  
                width: 95%;
                margin: 0 auto;
                height: 90px;
                &__top{
                  display: flex;
                  justify-content: space-between;
                  &__category{
                    height: 40%;
                    text-align: left;
                    padding: 5px 20px;
    
                    // li{
                    //   background-color: #0d5769;
                    //   padding: 0.35em 0.7em;
                    //   border-radius: 10rem;
                    //   display: inline-block;
                    //   font-size:10px;
                    //   margin-right:10px;
  
                    // }
                    // li:hover {
                    //   position: relative;
                    //   top: 1px;
                    //   left: 1px;
                    // }
                    &__link{
                      font-weight: bold;
                      text-decoration: none;
                      color: #eaa696;
                      background-color: #0d5769;
                      padding: 0.35em 0.7em;
                      border-radius: 10rem;
                      display: inline-block;
                      font-size: 10px;
                    }
                     &__link:hover {
                      position: relative;
                      top: 1px;
                      left: 1px;
                    }
                    &__small{
                      font-weight: bold;
                      text-decoration: none;
                      color: #eaa696;
                      background-color: #0d5769;
                      padding: 1px 4px;
                      border-radius: 10rem;
                      display: inline-block;
                      font-size: 10px;
                      margin-left: 6px;
                    }
                     &__small:hover {
                      position: relative;
                      top: 1px;
                      left: 1px;
                    }
                  }
                  &__giver{
                    margin-top: 5px;
                    padding: 5px 20px;
                    font-size: 10px;
                    a{
                      color: #494c4e;
                    }
                  }
  
                }
  
  
                &__comment{
                  padding: 5px 20px;
                  font-size: 12px;
                  height: 60%;
                  text-align: left;
                }
              }
            }
          }
        }
      }
  
      }
    }
    .postsnew__containers{
      background-color: #ca9a8f;
      margin-top: 120px;
      padding:70px 30px;
      &__container{
      &__title{
        color: #0d5769;
        height: 100px;
        line-height: 100px;
        padding-left: 20px;
        font-size: 20px;
        background-color: #eaa696;
        padding: 5px;
        font-weight: bold;
        &__content{
          // background-color: #0d5769;
          border: 1px dashed #0d5769;
          border-radius: 5px;
          height: 90px;
          padding-left: 20px;
          line-height: 95px;
        }
      }
      &__form{
        background-color: #0d5769;
    
        width: 100%;
        // background-color: #6b787c;
        padding: 20px 0;
    
        &__item{
        margin: 0 auto;
        width: 60%;
        font-weight: bold;
        color: #ca9a8f;
        }
        &__title{
          display: block;
          width: 60%;
          height: 40px;
          margin: 20px auto;
    
        }
        &__images{
          // display: flex;
          margin: auto;
          width: 60%;
          margin-top: 60px;
          &__image{
            display: block;
            height: 40px;
            // margin: 80px auto;
            &__img{
              width: 200px;
              background-color: #eaa696;
              color: #0d5769;
              font-weight: bold;
              padding: 10px;
              text-decoration: none;
              box-shadow: 0 2px 4px rgba(0,0,0,0.3);
              border-radius: 10px;
              margin: 0px auto;

            }
            &__img:hover {
              position: relative;
              top: 1px;
              left: 1px;
              box-shadow: 0 0 2px rgba(0,0,0,0.2);
           }
            &__file{
              display: none;
    
            }
          }
          &__show{
            // width: 500px;
            height: 200px;
            display: flex;
            align-items: center;
            #img_prev{
              width: 250px;
              height: auto;
              margin: 0 auto;
            }
          }
        }
        &__description{
          display: block;
          width: 60%;
          height: 80px;
          margin: 20px auto;
        }
        &__content{
          display: block;
          width: 60%;
          height: 300px;
          margin: 20px auto;
        }
        &__category{
          display: block;
          width: 60%;
          height: 40px;
          margin: 20px auto;
          padding-top: 20px;
        }
        input[type="checkbox"] { 
          display: none; 
    
        }
    
        input[type="checkbox"] + label {
          display: inline-block;
          position: relative;
          padding-left: 30px;
          margin-bottom: 20px;
          margin-right: 41px;
          color: black;
          cursor: pointer;
        }
    
        input[type="checkbox"] + label:before {
          content: '';
          display: block;
          width: 20px;
          height: 20px;
          border: 1px solid #545454;
          position: absolute;
          left: 0;
          top: 0;
          transition: all .12s, border-color .08s;
        }
    
        input[type="checkbox"]:checked + label:before {
          width: 10px;
          top: -5px;
          left: 5px;
          border-top-color: transparent;
          border-left-color: transparent;
          transform: rotate(45deg);
        }
        &__btn{
          background-color: #0d5769;
          border: double 4px #eaa696;
          padding: 5px 30px;
          margin: 10px 0;
          color: #eaa696;
          width: 40%;
          margin: 20px auto;
          display: block;
          text-decoration: none;
          text-align: center;
        }
        &__btn:hover {
          position: relative;
          top: 1px;
          left: 1px;
          box-shadow: 0 0 2px rgba(0,0,0,0.2);
       }
       &__back{
        display: block;
        width: 60%;
        height: 40px;
        margin: 20px auto;
    
        // margin-right: 20px;
        background-color: beige;
        color: black;
        padding: 10px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.3);
        border-radius: 10px;
        border: none;
        text-decoration: none;
        text-align: center;
      }
      &__back:hover {
        position: relative;
        top: 1px;
        left: 1px;
        box-shadow: 0 0 2px rgba(0,0,0,0.2);
    
     }
      }
      }
    
    }
    .chat-post-form {
      width: 980px;
      margin: 60px auto;
      padding: 40px;
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 5px;
      box-sizing: border-box;
    
      &__errors {
        margin: 30px 0;
        padding: 20px 40px;
        border: 1px solid #ddd;
        border-radius: 2px;
        text-align: center;
      }
      &__label {
        display: block;
        line-height: 50px;
        font-weight: bold;
        text-align: right;
        color: #ca9a8f;
      }
      &__input {
        float: left;
        width: 100%;
        line-height: 30px;
        padding: 10px 15px;
        box-sizing: border-box;
      }
      &__action-btn {
        display: inline-block;
        padding: 12px 20px;
        color: #fff;
        background-color: #38aef0;
        border: 0;
      }
      &__field {
        margin-top: 30px;
        &:after {
          content: "";
          clear: both;
          display: block;
        }
        &--left {
          float: left;
          width: 30%;
          padding-right: 20px;
          padding-left: 20px;
          box-sizing: border-box;
        }
        &--right {
          float: right;
          width: 70%;
        }
      }
    }
    
    .chat-post-form__field{
      margin: 40px 0px;
      width: 80%;
      input[type='text']{
        box-sizing: border-box;
        width: 100%;
        padding: 10px;
        transition: 0.3s;
        letter-spacing: 1px;
        color: #aaaaaa;
        border: none;
        border-bottom: 2px solid #8b8482;
        background: transparent;
      }
      input[type='text']:focus {
        border-bottom: 2px solid #eaa696;
        outline: none;
      }
    }
    // .chat-post-form__field--right{
    //   height: 40px;
    // }
    .chat-post-category {
      padding: 0 15px;
      line-height: 50px;
      font-size: 14px;
    
      color: #ca9a8f;
    
      // border-bottom: 1px solid #ddd;
      &:after {
        content: "";
        clear: both;
        display: block;
      }
      &__name {
        float: left;
      }
      &__btn {
        float: right;
        display: inline-block;
        cursor: pointer;
        &--add {
          color: #38aef0;
        }
        &--remove {
          color: #f05050;
        }
      }
    }
  
    .sns__containers{
      background-color: #ca9a8f;
      margin-top: 120px;
      padding:40px;
      min-height: 100vh;
      &__container{
        // width: 60%;
        height: 600px;
        margin: 0 auto;
        &__top{
          background-color: #0d5769;
          height: 15%;
          h1{
            font-size: 35px;
            font-weight: bold;
            text-align: center;
            line-height: 90px;
            color: #eaa696;
            letter-spacing: 3px;
          }
        }
        &__bottom{
          height: 70%;
          padding: 60px;
          background-color: #eaa696;
          a{
            text-decoration: none;
  
          }
          &__option{
            margin: 0 auto;
            border-radius: 4px;
            width: 85%;
            line-height: 60px;
            font-size: 16px;
            text-align: center;
            position: relative;
            margin-bottom: 40px;
            background-color: floralwhite;
            i{
              font-size: 30px;
              position: absolute;
              left: 20px;
              top:15px;
            }
            span{
              font-weight: bold;
              font-size: 18px;
  
            }
          }
          .secretsanta{
            background-color: #0d5769;
            color:#eaa696 ;
          }
          .twitter{
            background-color: #008DDE;
            color:white ;
          }
          .facebook{
            background-color: #354F84;
            color:white ;
          }
        }
      }
    }
}

@media screen and (min-width: 960px) { 
  .alert{
    text-align: center;
  }
  .posts__containers{
    background-color: #ca9a8f;
    margin-top: 120px;
    padding:40px 0;
    min-height: 100vh;
    &__container{
      width: 95%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      &__left{
        
        position: relative;
        width: 40%;
        background-color: #0d5769;
        border-radius: 10px;
        min-height: 100vh;
  
        &__title{
          font-size: 40px;
          font-weight: bold;
          color: #ca9a8f;
          text-align: center;
          margin-top: 50px;
          h1{
            font-size: 26px;
          }
          span{
            color: #8b8482;
  
          }
  
        }
        &__timeline {

          list-style: none;
          margin: 35px 40px;
          padding-left: 48px;
          /* width: 68%; */
          border-left: 8px solid #ca9a8f;
          counter-reset: my-counter;
          li {
            // margin: 40px 0;
            position: relative;
  
          }
          li:before {
            content: counter(my-counter);
            counter-increment: my-counter;
            background-color: #ca9a8f;
            color: #0d5769;
            font-weight: bold;
            display: block;
            line-height: 30px;
            text-align: center;
            height: 30px;
            width: 30px;
            left: -67px;
            border-radius: 50%;
            margin-top: -10px;
            position: absolute; 
            top: 50%;
          }
          li:not(:first-child){
            margin: 60px 0;
          }
          
          &__title{
            // width: 300px;
            font-size: 20px;
            font-weight: bold;
            border-bottom: solid 1.5px #ca9a8f;
            padding-bottom: 5px;
            padding-top: 20px;
            color: #ca9a8f;
          }
          &__description{
            color: #ca9a8f;
            padding-top: 5px;
            font-size: 15px;
          }
        }
        a{
          text-decoration: none;
          display: flex;
          background-color: #ca9a8f;
          width: 150px;
          height: 40px;
  
        }
        &__description{
          float: right;
          box-shadow: 0 2px 4px rgba(0,0,0,0.3);
          margin-top: 20px;
          
          &__icon{
            line-height: 40px;
            i{
              font-size: 20px;
              margin-left: 20px;
              color: #0d5769;
            }
          }
          &__word{
            margin-left: 17px;
            margin-top: 3px;
  
            h1{
              font-size: 13px;
              font-weight: bold;
              color: #0d5769;
            } 
          }
  
        }
        &__description:hover{
          position: relative;
          top: 1px;
          left: 1px;   
          box-shadow: 0 0 2px rgba(0,0,0,0.2);
                 
        }
      }
      &__right{
        width: 55%;
        background-color: #8b8482;
        border-radius: 10px;
        min-height: 100vh;
        position: relative;
        &__title{
          text-align: center;
          font-size: 18px;
          span{
            font-weight: bold;
            font-size: 20px;
  
          }
          &__condition{
            float: right;
            display: inline;
            position: absolute;
            top:160px;
            right: 120px;
            a{
              text-decoration: none;
              color:#ca9a8f ;
            }
          }
        }
        &__top{
          height: 15%;
          h1{
            text-align: center;
            font-size: 18px;
            color: #ca9a8f;
            span{
              font-weight: bold;
              color: #0d5769;
              font-size: 20px;
            }
          }
            &__tag{
              height: 40%;
              text-align: center;
              border-radius: 10px;
              width: 90%;
              font-weight: bold;
              margin: 0 auto;
              h1{
                font-weight: bold;
                color: #0d5769;
              }
              li{
                display: inline-block;
                margin-right: 9px;
                margin-top: 10px;
              }
            }
            &__search{
              height: 60%;
            }
          
        }
        &__condition{
          float: right;
          display: inline;
          position: absolute;
          top:160px;
          right: 120px;
          a{
            text-decoration: none;
            color:#ca9a8f ;
          }
        }
        
      .fa-search{
        position: absolute;
        top: 115px;
        left: 120px;
        font-size: 26px;
        color: #0d5769;
      }
            
  
      input[type='text']{
        margin-left: 70px;
        margin-top: 10px;
        box-sizing: border-box;
        width: 80%;
        padding: 10px;
        transition: 0.3s;
        letter-spacing: 1px;
        color: #ca9a8f;
        border: none;
        border-bottom: 2px solid #0d5769;
        background: transparent;
        padding-left: 70px;
        margin-bottom: 30px;
      }
      input[type='text']:focus {
        border-bottom: 2px solid #ca9a8f;
        outline: none;
      }
        padding: 40px;
        &__posts{
          // width: 80%;
          margin: 20px auto;
          overflow: scroll;
          height: 100vh;
          &__nothing{
            text-align: center;
            font-size: 25px;
            font-weight: bold;
            margin-top: 200px;
            .fa-camera-retro{
              text-align: center;
              font-size: 40px;
            }
          }
          &__title{
          font-size: 30px;
          text-align: center;
          font-weight: bold;
   
          }
          // height: 100vh;
          &__post{
            width: 100%;
            height: 500px;
            margin: 30px auto;
            &__top{
              height: 15%;
              width: 100%;
              background-color: #0d5769;
              display: flex;
              position: relative;
              &__manage{
                position: absolute;
                top: 13px;
                right: 30px;
                &__lists{
                  
                  li{
                    display: block;
                    margin-top: 4px;
                    a{
                      text-decoration: none;
                      color: #eaa696;
                      font-weight: bold;
                    }
                    a:hover{
                      position: relative;
                      top: 1px;
                      left: 1px;                  
                    }
                  }
                }
              }
              &__account{
                  margin-left: 30px;
                  display: flex;
                  align-items: center;
                  img{
                    width:60px;
                    height:60px;
                    object-fit:cover;
                    border-radius:50%;
                  }
                
              }
              &__name{
                margin-left: 30px;
  
                a{
                  display: block;
                  font-size: 30px;
                  color:#eaa696 ;
                  font-weight: bold;
                  margin: 17px 0;
                  text-decoration: none;
                }
              }
            }
  
            &__bottom{
              width: 100%;
              height: 85%;
              background-color: #eaa696;
              text-align: center;
              padding-right: 30px;
              padding-left: 30px;
              // padding: 10px;
              img{
                margin-top: 20px;
                margin-bottom: 5px;
                height: 70%;
                max-width: 100%;

              }
  
              &__caption{
                border: 1px dashed #0d5769; 
  
                width: 95%;
                margin: 0 auto;
                height: 90px;
                &__top{
                  display: flex;
                  justify-content: space-between;
                  &__category{
                    height: 40%;
                    text-align: left;
                    padding: 5px 20px;
    
                    // li{
                    //   background-color: #0d5769;
                    //   padding: 0.35em 0.7em;
                    //   border-radius: 10rem;
                    //   display: inline-block;
                    //   font-size:10px;
                    //   margin-right:10px;
  
                    // }
                    // li:hover {
                    //   position: relative;
                    //   top: 1px;
                    //   left: 1px;
                    // }
                    &__link{
                      font-weight: bold;
                      text-decoration: none;
                      color: #eaa696;
                      background-color: #0d5769;
                      padding: 0.35em 0.7em;
                      border-radius: 10rem;
                      display: inline-block;
                      font-size: 10px;
                    }
                     &__link:hover {
                      position: relative;
                      top: 1px;
                      left: 1px;
                    }
                    &__small{
                      font-weight: bold;
                      text-decoration: none;
                      color: #eaa696;
                      background-color: #0d5769;
                      padding: 1px 4px;
                      border-radius: 10rem;
                      display: inline-block;
                      font-size: 10px;
                      margin-left: 6px;
                    }
                     &__small:hover {
                      position: relative;
                      top: 1px;
                      left: 1px;
                    }
                  }
                  &__giver{
                    margin-top: 5px;
                    padding: 5px 20px;
                    font-size: 10px;
                    a{
                      color: #494c4e;
                    }
                  }
  
                }
  
  
                &__comment{
                  padding: 5px 20px;
                  font-size: 12px;
                  height: 60%;
                  text-align: left;
                }
              }
            }
          }
        }
      }
  
      }
    }
    .postsnew__containers{
      background-color: #ca9a8f;
      margin-top: 120px;
      padding:70px;
      &__container{
      &__title{
        color: #0d5769;
        height: 100px;
        line-height: 100px;
        padding-left: 20px;
        font-size: 20px;
        background-color: #eaa696;
        padding: 5px;
        font-weight: bold;
        &__content{
          // background-color: #0d5769;
          border: 1px dashed #0d5769;
          border-radius: 5px;
          height: 90px;
          padding-left: 20px;
          line-height: 95px;
        }
      }
      &__form{
        background-color: #0d5769;
    
        width: 100%;
        // background-color: #6b787c;
        padding: 20px 0;
    
        &__item{
        margin: 0 auto;
        width: 60%;
        font-weight: bold;
        color: #ca9a8f;
        }
        &__title{
          display: block;
          width: 60%;
          height: 40px;
          margin: 20px auto;
    
        }
        &__images{
          display: flex;
          margin: auto;
          width: 60%;
          margin-top: 60px;
          &__image{
            display: block;
            height: 40px;
            margin: 80px auto;
            &__img{
              width: 200px;
              background-color: #eaa696;
              color: #0d5769;
              font-weight: bold;
              padding: 10px;
              text-decoration: none;
              box-shadow: 0 2px 4px rgba(0,0,0,0.3);
              border-radius: 10px;
            }
            &__img:hover {
              position: relative;
              top: 1px;
              left: 1px;
              box-shadow: 0 0 2px rgba(0,0,0,0.2);
           }
            &__file{
              display: none;
    
            }
          }
          &__show{
            width: 500px;
            height: 200px;
            display: flex;
            align-items: center;
            #img_prev{
              width: 250px;
              height: auto;
            }
          }
        }
        &__description{
          display: block;
          width: 60%;
          height: 80px;
          margin: 20px auto;
        }
        &__content{
          display: block;
          width: 60%;
          height: 300px;
          margin: 20px auto;
        }
        &__category{
          display: block;
          width: 60%;
          height: 40px;
          margin: 20px auto;
          padding-top: 20px;
        }
        input[type="checkbox"] { 
          display: none; 
    
        }
    
        input[type="checkbox"] + label {
          display: inline-block;
          position: relative;
          padding-left: 30px;
          margin-bottom: 20px;
          margin-right: 41px;
          color: black;
          cursor: pointer;
        }
    
        input[type="checkbox"] + label:before {
          content: '';
          display: block;
          width: 20px;
          height: 20px;
          border: 1px solid #545454;
          position: absolute;
          left: 0;
          top: 0;
          transition: all .12s, border-color .08s;
        }
    
        input[type="checkbox"]:checked + label:before {
          width: 10px;
          top: -5px;
          left: 5px;
          border-top-color: transparent;
          border-left-color: transparent;
          transform: rotate(45deg);
        }
        &__btn{
          background-color: #0d5769;
          border: double 4px #eaa696;
          padding: 5px 30px;
          margin: 10px 0;
          color: #eaa696;
          width: 40%;
          margin: 20px auto;
          display: block;
          text-decoration: none;
          text-align: center;
        }
        &__btn:hover {
          position: relative;
          top: 1px;
          left: 1px;
          box-shadow: 0 0 2px rgba(0,0,0,0.2);
       }
       &__back{
        display: block;
        width: 60%;
        height: 40px;
        margin: 20px auto;
    
        // margin-right: 20px;
        background-color: beige;
        color: black;
        padding: 10px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.3);
        border-radius: 10px;
        border: none;
        text-decoration: none;
        text-align: center;
      }
      &__back:hover {
        position: relative;
        top: 1px;
        left: 1px;
        box-shadow: 0 0 2px rgba(0,0,0,0.2);
    
     }
      }
      }
    
    }
    .chat-post-form {
      width: 980px;
      margin: 60px auto;
      padding: 40px;
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 5px;
      box-sizing: border-box;
    
      &__errors {
        margin: 30px 0;
        padding: 20px 40px;
        border: 1px solid #ddd;
        border-radius: 2px;
        text-align: center;
      }
      &__label {
        display: block;
        line-height: 50px;
        font-weight: bold;
        text-align: right;
        color: #ca9a8f;
      }
      &__input {
        float: left;
        width: 100%;
        line-height: 30px;
        padding: 10px 15px;
        box-sizing: border-box;
      }
      &__action-btn {
        display: inline-block;
        padding: 12px 20px;
        color: #fff;
        background-color: #38aef0;
        border: 0;
      }
      &__field {
        margin-top: 30px;
        &:after {
          content: "";
          clear: both;
          display: block;
        }
        &--left {
          float: left;
          width: 30%;
          padding-right: 20px;
          padding-left: 20px;
          box-sizing: border-box;
        }
        &--right {
          float: right;
          width: 70%;

        }
      }
    }
    
    .chat-post-form__field{
      margin: 40px 0px;
      width: 80%;

      input[type='text']{
        box-sizing: border-box;
        width:100%;
        padding: 10px;
        transition: 0.3s;
        letter-spacing: 1px;
        color: #aaaaaa;
        border: none;
        border-bottom: 2px solid #8b8482;
        background: transparent;
      }
      input[type='text']:focus {
        border-bottom: 2px solid #eaa696;
        outline: none;
      }
    }
    // .chat-post-form__field--right{
    //   height: 40px;
    // }
    .chat-post-category {
      padding: 0 15px;
      line-height: 50px;
      font-size: 14px;
    
      color: #ca9a8f;
    
      // border-bottom: 1px solid #ddd;
      &:after {
        content: "";
        clear: both;
        display: block;
      }
      &__name {
        float: left;
      }
      &__btn {
        float: right;
        display: inline-block;
        cursor: pointer;
        &--add {
          color: #38aef0;
        }
        &--remove {
          color: #f05050;
        }
      }
    }
  
    .sns__containers{
      background-color: #ca9a8f;
      margin-top: 120px;
      padding:40px;
      min-height: 100vh;
      &__container{
        width: 60%;
        height: 600px;
        margin: 0 auto;
        &__top{
          background-color: #0d5769;
          height: 15%;
          h1{
            font-size: 35px;
            font-weight: bold;
            text-align: center;
            line-height: 90px;
            color: #eaa696;
            letter-spacing: 3px;
          }
        }
        &__bottom{
          height: 70%;
          padding: 60px;
          background-color: #eaa696;
          a{
            text-decoration: none;
  
          }
          &__option{
            margin: 0 auto;
            border-radius: 4px;
            width: 80%;
            line-height: 60px;
            font-size: 16px;
            text-align: center;
            position: relative;
            margin-bottom: 40px;
            background-color: floralwhite;
            i{
              font-size: 30px;
              position: absolute;
              left: 20px;
              top:15px;
            }
            span{
              font-weight: bold;
              font-size: 18px;
  
            }
          }
          .secretsanta{
            background-color: #0d5769;
            color:#eaa696 ;
          }
          .twitter{
            background-color: #008DDE;
            color:white ;
          }
          .facebook{
            background-color: #354F84;
            color:white ;
          }
        }
      }
    }
}
