
  // group#index
  .group__containers{
    background-color: $basebackground;
    padding:40px 0;
    height: 100vh;
    &__side{
      width: 80%;
      margin: 0px auto;
      border-radius:10px;
      overflow: scroll;
      &__title{
        text-align: center;
        color: $basebackground;
        background-color: $basetext;
        font-weight: bold;
        font-size: $fontSmall;
        height: 60px;
        line-height: 60px;
      }
      &__posts{
        width: 100%;
        overflow: scroll;
        margin: 0px auto;
        &__post{
          width: 100%;
          height: 100px;
          font-weight: bold;
          padding: 10px 30px;
          position: relative;
          background-color: $subcard;
          a{
            text-decoration: none;
            color: $accent;

          }
          &__title{
            font-size: $fontSmall;
            color: $dark;
          }
          &__message{
            span{
              font-size: $fontSmallest;
              color: black;
            }
          }
          &__link{
            background: rgba(139, 132, 130,0.3);
          
            padding: 5px 10px;
            font-size: $fontSmallest;
            display: block;
            position: absolute;
            bottom: 20px;
            right: 10px;
            color:$subcard;
          }   
          &__link:hover{
            background: rgba(139, 132, 130,0.6);
          }
        }         
        &__post:hover{
          background-color: $basebackground;
        }
      }
    }
  }







