body{
  position: relative;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Racing Sans One', cursive;

}
* {
  box-sizing: border-box;
}




#overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.7);
  display: none;
  z-index: 3;

}


#modalWindow {
// モーダルウィンドウの画面を設定(高さ・幅は調整ください)
  width: 500px;
  height: 400px;
  position: absolute;
//トップからの場所を指定（topをいじれば高さが調整できます）
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 2;
//flexboxで子要素のボタンとメッセージボックスの要素を配置する
  display: flex;
  flex-wrap: wrap;
  // justify-content: center;

  .modal-message-box {
    width: 100%;
//下記heightの60pxはボタンの高さで、それを画面の大きさから引いています。
    height: calc(100% - 60px);
    text-align: center;
//flexboxで文字の配置を決める（縦方向、中央揃え）
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    p{
      font-size: 30px;
      font-weight: bold;
      margin-top: -100px;
    }
    img{
      width: 30%;
      margin: 0 auto;
    }
  }

  #modal-close-btn {
    width: 30%;
    height: 60px;
    position: absolute;
    bottom: 10%;
    left: 15%;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    font-size: 1.2em;
    font-weight: bold;
    color: #494c4e;
    &:hover{
      opacity: 0.8; 
    }
  }

  #delete-comformation-btn {
    width: 30%;
    height: 60px;
    background-color: rgb(234, 53, 45);
    cursor: pointer;
    position: absolute;
    bottom: 10%;
    right: 15%;
    border-radius: 10px;
    border: none;
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    &:hover{
      opacity: 0.8; 
    }
  }
}

.item-delete-btn {
//削除ボタンの非表示
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;
}

















.container{
  height: 70%;
  width: 75%;
  margin: 0 auto;
}
.topFirst{
  height: 700px;
  background-color: $basebackground;
  padding-top: 125px;
  width: 100%;
  display: flex;
  align-items: center;
  .container{
    display: flex;
    background-color: $subcard;
  }
  .giftPic{
    width: 40%;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .definition{
    width: 60%;
    padding: 5% 5%;
    h1{
      font-size: $fontMedium;
    }
    p{
      padding-top: 50px;
      font-size: $fontSmall;

    }
  }
  


}

.topSecond{
  width: 100%;
  height: 1000px;
  padding-bottom: 300px;
  background-color: $subbackground;

  .title{
    margin-top: 20px;
    height: 10%;
    width: 70%;
    margin: 0 auto;
    padding-top: 50px;
    text-align: center;
    font-size: $fontMedium;
    color: $subtext;
    margin-bottom: 60px;
  }

    .tab-container {
      list-style-type: none;
      position: relative;

      ul { 
        list-style-type: none; 
        padding: 0; 
      }
      .arrows { 
        display: block;
        font-size: 90px; 
  
        label { 
          display: inline-block; 
          cursor: pointer; 
          color: $subtext;    
          user-select: none;  
          &:hover { 
            color:$dark; 
          }
        }
      }
      .back{
        bottom: 220px;
        left: -80px;
        position: absolute;
      }
      .next{
        bottom: 220px;
        right: -80px;
        position: absolute;
      }
      .tab-content-container { 
        height:100%;
        opacity: 0;
        line-height: 22px;
        position: absolute;
        top: 42px;
        padding: 20px 40px;
        background-color: $basebackground;
        display: flex;
        align-items: center;
        .tab-content {
          opacity: 0;
          padding: 15px 0;
          transition: opacity 0.1s ease-in;  
          margin: 0 auto;
          display: flex;
          width: 100%;
          height: 100%;
          .image{
            img{
              width: 70%;
            }  

            padding: 2% 3% 0% 6%;
          }
          .description{
            padding: 8% 0;

            width: 60%;
            h1{
              font-size: $fontMedium;
            }
            p{
              padding-top: 50px;
              font-size: $fontSmall;

            }
          }

        }
      }
      .tab {
        outline: 0;
        float: left;
        cursor: pointer;    
        opacity: 1;
        width: 20%;
        line-height: 40px;
        display: block;
        margin: 0;
        position: relative;
        text-align: center; 

      }
      .tab-toggle {
        display: none;
        &.active + .tab,
        &:checked + .tab { 
          font-weight: bold;
          span{
            border-bottom: 2px $accent solid;
            color: $basebackground;
          }
        }
        &.active ~ .tab-content-container,
        &:checked ~ .tab-content-container { 
          height: 400px;
          opacity: 1;
          .tab-content { 
            opacity: 1; 
            label { 
              opacity: 1; 
            }
          }
        }
      }
    }

  
}


