.message__containers{
  background-color: $subcard;
   // margin-top: 120px;
   padding:20px;
   min-height: 100vh;
   display: flex;
   &__side{
   width: 300px;
   height: 100vh;
   background-color: $basetext;
   border-radius:10px 0 0 10px;
   overflow: scroll;
   &__title{
     text-align: center;
     color: $dark;
     font-weight: bold;
     font-size: 20px;
     height: 60px;
     line-height: 60px;
   }
 
     &__posts{
       width: 100%;
       overflow: scroll;
       height: calc(100vh - 40px);
       margin: 0px auto;
 
       &__post{
         width: 100%;
         height: 100px;
         font-weight: bold;
         padding: 10px 30px;
         position: relative;
         a{
           text-decoration: none;
           // color:#ca9a8f;
         }
         &__title{
           font-size: 20px;
           color: $subcard;
 
         }
         
         &__message{
           // text-align: center;
           span{
             font-size: 11px;
             color: #8b8482;
           }
 
         }
         &__link{
           
             background: rgba(139, 132, 130,0.3);
             padding: 5px 10px;
             font-size: 10px;
             display: block;
             // margin-left: 100px;
             position: absolute;
             bottom: 20px;
             right: 10px;
             color:$subcard;
         
           
         }   
         &__link:hover{
           background: rgba(139, 132, 130,0.6);
         }
       }
       
       &__post:hover{
         background-color: $subbackground;
       }
     }
 
   }
   // &__all{
   //   background-color: #0d5769;
   //   width: calc(100% - 300px);
   //   border-left: 1px solid  #eaa696;
   //   display: flex;
   //   align-items: center;
   //   justify-content: center;
   //   i{
   //     color:#eaa696 ;
   //     font-size: 100px;
   //   }
   // }
   &__main{
   // background-color: royalblue;
   width: calc(100% - 300px);
   height: 100vh;
   position: relative;
 
     &__top{
       background-color: $basetext;
       border-radius: 0 10px 0 0;
       height: 100px;
       padding: 6px 6px 6px 0;
 
       &__content{
         justify-content: space-between;
 
         border-radius: 5px;
         padding: 4px 20px;
         height: 88px;
         display: flex;
         position: relative;
         &__left{
           font-size: 36px;
           color: $subcard;
           font-weight: bold;
           margin-top: 15px;
           &__groupname{
 
           }
           &__link{
             background: rgba(139, 132, 130,0.3);
             padding: 5px 10px;
             font-size: 18px;
             display: block;
             // margin-left: 100px;
             position: absolute;
             top: 28px;
             right: 30px;
             color:$accent;
             text-decoration: none;
           }
           &__link:hover{
             background: rgba(139, 132, 130,0.6);
           }
           &__budget{
             font-size: 15px;
             color: $subcard;
             font-weight: bold;
   
           }
           &__date{
             font-size: 15px;
             color: $subcard;
             font-weight: bold;
   
           }
           &__participants{
             font-size: 15px;
             font-weight: bold;
             color: $subcard;
   
             a{
               text-decoration: none;
               color: $subcard;
               margin-right:20px ;
             }
             a:hover{
               position: relative;
               top: 1px;
               left: 1px;  
             }
           }
           &__receiver{
             font-size: 15px;
             font-weight: bold;
             color: $subcard;
           }
         }
         &__right{
           border: solid 1px  $subcard;
           width: 70px;
           height: 40px;
           padding: 0 20px;
           font-size: 16px;
           line-height: 40px;
           margin-top: 28px;
           a{
             text-decoration: none;
             color: $subcard;
 
           }
         }
 
       }
  
 
 
     }
     &__middle{
       background-color:$subbackground;
       height: calc(100vh - 90px - 100px);
       padding: 30px 40px;
       overflow: scroll;
       position: relative;
 
       &__talk{
         // margin-bottom: 25px;  
         // display: flex;
         // min-height: 88px;
         // position: relative;
         // margin-bottom: 46px;
       
         &__left{
           min-height: 88px;
         position: relative;
         margin-bottom: 46px;
         position: relative;
         &__top{
           margin-bottom: 12px;
           position: absolute;
           left: 0px;
         }
         &__bottom{
           font-size: 16px;
           color: #434A54;
           background-color: #8b8482;
           border-radius: 10px 10px 10px 0px;
           padding: 7px 15px;
           position: absolute;
           bottom: 20px;
           left: 0;
           // width: 300px;
           // height: 200px;
         }
         &__time{
           font-size: 12px;
           color: $dark;
           position: absolute;
 
           bottom: -10px;
           left: 0;
 
             a{
               text-decoration: none;
               color: #eaa696;
               font-size: 20px;
               font-weight: bold;
               margin-bottom: 46px;
             }
 
         }
 
       }
       &__leftImage{
 
         height: 400px;
         position: relative;
         margin-bottom: 100px;
     
       }
       &__right{
         min-height: 88px;
         position: relative;
         margin-bottom: 46px;
       &__top{
         margin-bottom: 12px;
         position: absolute;
         right: 0px;
       }
       &__bottom{
         font-size: 16px;
         color: $dark;
         background-color: #8b8482;
         border-radius: 10px 0px 10px 10px;
         // padding: 10px;
         padding: 7px 15px;
         position: absolute;
         bottom: 20px;
         right: 0;
       }
       &__time{
         font-size: 12px;
         color: $dark;
         margin-left: 10px;
         padding-top: 6px;
         position: absolute;
 
         bottom: 0;
         right: 0;
       }
     }
     &__rightImage{
       height: 400px;
       position: relative;
       margin-bottom: 100px;
     }
     
     }
 
     }
     &__bottom{
       background-color:$basetext;
       
       height: 90px;
       border-radius:0 0 10px 0;
       position: relative;
       position: absolute;
       width: 100%;
       bottom: 0;
       &__left{
         padding-left: 10px;
         height: 50px;
         margin: 20px 40px;
         width: 70%;
         border: none;
         
       }
       &__middle{
         height: 0px;
         margin: 20px 40px;
         width: 70%;
         position: absolute;
         top: 0;
         left: 0;
         // position: relative;
 
         &__box{
           
           &__img{
             font-size: 21px;
             position: absolute;
             right: 20px;
             top: 15px;
           }
           &__file{
             display: none;
           }
         }
       }
         
       &__right{
         width: 15%;
         color: white;
         font-weight: bold;
         height: 50px;
         margin-left: 15px;
         background-color: #8b8482;
         cursor: pointer;
         position: absolute;
         right: 40px;
         top: 20px;
         border: none;
       }
 
     }
   }
 }