  <footer>
    <div class="conteiner">
    <div class="logo">
     <a href="/" class="logo__content">
      <p>Secret</p>
      <p>Santa</p>
      <p>365</p>
     </a>
    </div>
    <div class="list">
      <ul>
        <a href="/"><li>How it works</li></a>
        <a href="#"><li>Terms of Service</li></a>
        <a href="#"><li>Privacy Policy</li></a>
        <a href="#"><li>FAQ</li></a>
      </ul>
    </div>
    </div>
    <div class="copyright">
      <p>© 2020 NINEFS</p>
    </div>
  </footer>
