<div class="containers">
  <div class="temporary">
    <div class="temporary__content">
    <h1>Sorry<br></h1>
    <p>UNDER CONSTRUCTION</p>
    <%= image_tag asset_path("construction.png") %>

    </div>
  </div>
</div>